/* .div1{
	width: 1920px;
	height: 784px;
	border: 1px solid #006699;
	margin: 0 auto;
} */
/* .container .col-md-12{
	width: 1920px;
	height: 784px;
	margin: 0 auto;
} */
/* .col-md-12 img{
	width: 100%;
	height: auto;
} */
/* @media screen and(min-width:1920px) {
	.container:1920px;
} */
.container {
	width: 1920px;
}
.container .row .col-md-12{
	height: 784px;
}
.container .row .col-md-12 img{
	width: 100%;
	display: block;
	height: 100%;	
} 
.list-inline,.div6 a{
	color: #000000;
	text-decoration: none;
}
.div6 li {
	list-style: none;
	margin-bottom: 25px;
}
.div6 li a{
	color: #FFFFFF;
	font-size: 17px;
}
.div6 li a:hover{
	color: #1c75d0;
}
.div6 span{
	padding-left:24.375rem;
}
.div2{
    margin-top: 30px;
}
.div2 li{
	margin-left: 20px;
}
@media screen and(max-width:780) {
	.div2 li a{
		width: 100%;
		margin: 0 auto;
	}
}
.div2 li a{
	text-decoration: none;
	color: #2e2e2e;
}
.div2 li :hover{
	color:#e89011;
}
.img1{
	width: 200px ;
	height:80px;
	margin-bottom: 20px;
}
.img1 img{
	max-width: 100%;
	max-width: 100%;
}
.div3{
	margin-top: 20px;
	color: #009999;
}
.div4{
	height: 500px;
	background: #23b39f;
}
.div5{
	padding-right: 0;
}
.div4 h2{
	color: #FFFFFF;
	padding-left: 35px;
	padding-top: 30px;
}
.div4 p{
	color:#FFFFFF;
}
.div5 .img2{
	width: 100%;
	height: 400px;
}
.div7{
	height: 300px;
	background:#1374bb;
	margin-top: 20px;
	color: #FFFFFF;
}
.div7 .col-md-6{
	font-size: 20px;
	text-align: center;
	/* margin-top: 30px; */
}
.div7 .col-md-6 p{
	margin-top: 10px;
}
.img5,.img6{
	margin-top: 30px;
}
.img6 img{
	width: 60px;
	height: 60px;
}
.img5 span{
	font-size: 30px;
}
.img3{
	background: #1374bb;
	width: 100%;
	height: 10rem;
	color: #FFFFFF;
	text-align: center;
	line-height: 10rem;
	vertical-align: middle;
	
}
.div5 span{
	fonts-size: 20px;
} 
.div8{
	height: 300px;
	background: #1374bb;
	margin-top: 20px;
	/* color: #FFFFFF; */
	margin-left: 15px;
	width: 465px;
	font-size: 20px;
}

.div8 .row div:nth-child(1){
	text-align: right;
	
}
.div8 img{
	width: 80px;
	height: 70px;
}
.div8 span{
	margin-top: 20px;
	display: inline-block;
}
.div8 a{
	color: #FFFFFF;
	text-decoration: none;
}

.img7 a{
	text-decoration: none;
	color: #FFFFFF;
}
.img7 img{
	width: 70px;
	height: 60px;
}
/* .img7 span{
	margin-top: 30px !important;
} */
.img7 p{
	margin-bottom: -2.5rem;
}
.img4{
	width: 100%;
}
 
.div10 img{
	width: 800px;
	margin-top: 100px;
	margin-left: -75px;
}
.div11 img{
	width: 100%;
	height:auto;
}
.div11{
	padding-left: 0;
	padding-right: 0;
}
.swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
/* 	.swiper-container2 {
	  width: 100%;
	  height: 400px;
	  margin-left: auto;
	  margin-right: auto;
	} */
/* 	.swiper-slide {
	  text-align: center;
	  font-size: 18px;
	  background: #fff;
	  height: 200px;
	
	  /* Center slide text vertically */
	/*  display: -webkit-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center; */
	} */
	
/* .swiper-button-next img{
	width: 50px !important;
	position: relative;
	top: 0;
	left: 0;
} */
.div12{
	margin-top: 20px;
}
.box4{
	height: 425px;
/* 	overflow:hidden; */
}
.box4 img{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s; 
	position: absolute;
	top: 0px;
	left: 0px;
}
.box4 img:nth-child(1){
	opacity: 1;
}
.box5{
	position: relative;
}
.box6{
	width: 100px;
	position: absolute;
	top: 130px;
	left: 70px;
}
.box7{
	width: 100px;
	position: absolute;
	top: 130px;
	left: 800px;
}



.div6 img{
	width: 100%;
	height: 100%;
}


.div13{
/* 	width: 1920px;
	margin: 0 auto; */
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0;

}
.div13 img{
	width: 33.33%;	
}
.box8{
	width: 1920px;
	height: 460px;
	background-color:black ;
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
}
/* .swiper-button-next {
	position: absolute;
	top:20px;
	padding-top: 100px;
	margin-top: 20px;
}
 */

.box9,.box10 , .box11{
	text-align: center;
	display: inline-block;
}
/* .box11 p{
	font-size: 20px;
	padding-top: 0px;
	margin-left: 200px;
} */
.box14{
	position: absolute;
	top: 385px;
}
.box11{
/* 	margin-left: 900px; */
	font-size: 26px;
	/* margin-bottom: 50px; */
/* 	margin-top: -20px;
	z-index: 2; */
	position: absolute;
	top: 430px;
	left: 900px;
	z-index: 3;
}
.box12{
	width: 640px;
	height: 360px;
	background-color: black;
	opacity:0.5;
	position: absolute;
/* 	top: -30px; */
	top:47px ;
	left: 0;
    z-index: 2;
}
.box13{
	width: 640px;
	height: 360px;
	background-color: black;
	opacity:0.5;
	position: absolute;
	top: 47px;
	left: 1280px;
    z-index: 2;
}
/* .box8 .button2{
	position: absolute;
	top: 100px;
	width: 20px;
	height: 20px;
	
} */
.div12 .swiper-button-prev1{
	background-image: url(../img/left.png);
	width: 100px;
	height: 200px;
	background-size: 100%;
	margin-top: -100px;
	margin-left: 50px;
	
}
.div12 .swiper-button-next1{
	background-image: url(../img/right.png);
	width: 100px;
	height: 200px;
	background-size: 100%;
	margin-top: -100px;
	margin-right: 50px;
}
.box8 .swiper-button-prev{
	padding-top: 480px;
	padding-left: 1400px;
	background-image: url(../img/left2.png);
}
.box8 .swiper-button-next{
	padding-top: 480px;
	padding-right: 1400px;
	background-image: url(../img/right2.png);
}




.box9{
	margin-left: 680px;

}
.box9 img{
	width: 20px;
	/* margin-top: 10px; */
}
.box10 img{
	width: 20px;
	/* margin-top: 10px; */
	margin-left: 200px;
}

.div14 img{
	width: 100px;
}
.div15{
	height:60px;
	line-height: 60px;
	overflow: hidden;
/*   background-color:#cccc ; */
}
/* .div15 h4{
	float: left;
} */
.box1,.box2{
	display: inline-block;
}
.box2{
	position: relative;
	top: -180px;
	margin-right: 10px;
	color: #1c75d0;
}
.box1:hover{
	animation-play-state: paused;
}
 .box1{
/* 	float: left; */
	position: relative;
	top: 0px;
	animation: mybox1 5s infinite;
	}
	.box1 a{
		display: block;
		text-decoration: none;
		color: #000000;
	}
@keyframes mybox1{
	0%{top: 0px;}
	16.5%{top: -60px;}
	33%{top: -60px;}
	50%{top: -120px;}
	66.5%{top: -120px;}
	83%{top: -180px;}
	100%{top: -180px;}
}

.div16 img{
	margin-top:10px;
	padding-bottom: 0.9375rem;
	padding-left: 120px;
	
}

.img8{
	display: inline-block;
	width: 50%;
	position: relative;
}
.img11{
	position: absolute;
	top: 380px;
	left: 500px;
	font-size: 30px;
	color: #FFFFFF;
	/* text-align: center; */
}
.img15{
	position: absolute;
	top: 380px;
	left: 150px;
}

.img10 .img8 .img11 img{
	width: 15px;
	height: 40px;
	display: inline;
/* 	z-index: 5; */
/* 	color: #FFFFFF; */
}
.img13{
	width: 820px;
	border: 1px solid #FFFFFF; 
	position: absolute;
	bottom: 35px;
	left: 45px;
	border-radius: 5px;
	
}
.img14{
	width: 270px;
	border: 4px solid #FFFFFF; 
	position: absolute;
	bottom: -3px;
	border-radius: 5px;
	margin-left: 440px;
	
}
.img16{
	margin-left: 90px;
}
.img9{
	display: inline-block;
	width: 50%;
/* 	position: relative; */
}
.img8 img,.img9 img{
	width: 100%;
	height: auto;
/* 	position: absolute;
	left: 0;
	right: 0; */
}
.img10{
	width: 1820px;
	margin: 0 auto;
	/* text-align: center; */
/* 	margin: 0;
	padding: 0; */
	font-size: 0;
	/* position: relative; */
}


.img12{
	margin: 0 auto;
	width: 1920px;
	padding: 0;
}
.img12 img{
/* 	display:inline-block; */
	width: 100%;
	height: auto;
	max-width: 100%; 
	/* display: block; */
}
/* @media  screen and (min-width:1980px) {
	.img12 img{
		width: 100vw;
		height: auto;
	}
	
} */
.div17{
	padding-top: 90px;
	padding-bottom: 120px;
	background-color: #875bac;
	text-align:center;
	color: #FFFFFF;
	
}
.div17 .box3{
	margin: 0 auto;
	width: 195px;
	text-align: justify;
	
}
.div17 p{
	padding-top:16px;
	line-height: 30px;
}
.div18{
	width: 1920px;
	height: 300px;
	background-color: #1c152c;
	margin: 30px auto 0;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
}
.div18 a{
	text-decoration: none;
	color: #FFFFFF;
}
.div18 .div19{
	background-image: url(../img/28.png);
	height: 17px;
}
.div20{
/* 	padding-top: 50px; */
	margin: 0 auto;
	width:63%;
	text-align: left;
}
/* .div20 div{
	text-align: left;
} */
/* .div20 p{
	text-align: left;
} */
.div21,.div22{
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 60px;
}

.div21 {
	position: relative;
	bottom: 70px;
}
	
.div22 p{
/* 	margin-left: 20px;
	text-align:justify; */
}
/* .div22{
	margin-left: 30px;
} */
.div22 a{
	margin-left: 30px;
}
.div22 a:hover{
	color: #009999;
}
/* .div22 a:nth-child(1){
	margin-left: 0;
} */

.div22 p{
	text-align: justify;
	line-height: 35px;
}
/* .div23 a{
	margin-left: 100px;
} */
.div23 a:hover{
	color: #009999;
}
/* .div23 a:nth-child(1),.div23 a:nth-child(2){
	margin-left: 0;
} */

.div23 span{
	margin-left: 65px;
}